*{
	/*outline: 1px dotted red;*/
}

div.row{

}

/* Chatroom */
div.chatroom{
    /*background-color: rgb(235,235,235);*/
}

div.jumbotron{
    /*background-color: rgb(235,235,235);*/
}



div.theNetworkMap{
/*    background:url('/img/nightearth.jpg');
    background-position: center;
    background-size: contain;
    height: 400px;
*/}

body{
    /*background-color: rgb(25,25,25);
    background:url('/img/darksky.jpeg');
    background-position: center;
    padding: 10 20 20 20;*/
}
/*
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}*/