<h2>Forums</h2>
<div class="container-fluid">

<hr>
	<h3 ng-bind="post.title"></h3>
	<p ng-bind="post.content"></p>

	<section class="container">


		<div ng-repeat="comment in comments | startFrom:currentPage*pageSize | limitTo:pageSize">
			<hr>
			<h5 ng-bind="comment.content"></h5>
		</div>
		<hr>

		<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn btn-default">
	        Previous
	    </button>
	    <span ng-bind="currentPage+1"></span>/<span ng-bind="numberOfPages()"></span>
	    <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn btn-default">
	        Next
	    </button>
	</section>
</div>


